.App {
  text-align: center;
}
header {
  height: 700px;
  width: auto;
  display: flex;
  flex-direction: column;
}

nav {
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(12, 13, 13, 1);
}

nav img {
  height: 32px;
  width: 80px;
  margin-left: 30px;
}

/* Dropdown Button */
.dropbtn {
  height: 100%;
  width: 100%;
  background: rgba(12, 13, 13, 1);
  color: white;
  box-shadow: none;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.seta {
  height: 18px;
  margin-left: 3px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgba(12, 13, 13, 1);
}

.search-input {
  height: 32px;
  width: 450px;
  left: 464px;
  top: 16px;
  border-radius: 4px;
}

.search {
  height: 20px;
  color: white;
}

.search-label {
  position: relative;
}

.search-label:after {
  content: "";
  position: absolute;
  left: 430px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E")
    center / contain no-repeat;
}

.usuario {
  color: white;
  box-shadow: none;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-decoration: none;
}

.ususvg {
  height: 15px;
  margin-left: 5px;
}

.carrinho {
  color: white;
  box-shadow: none;
  font-family: Roboto;
  font-size: 100%;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.carsvg {
  height: 15px;
  margin-left: 5px;
}

.background-slider {
  display: flex;
  flex-direction: column;
  justify-items: end;
  height: 700px;
  width: 100%;
}

.background-img1 {
  background-image: url("./images/banner.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -200px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.background-img2 {
  background-image: url("./images/eudev.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -300px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.background-img3 {
  background-image: url("./images/evacontato.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center -270px;
  margin: 0;
  height: 100%;
  width: 100%;
}

.dot-container {
  display: flex;
  justify-content: center;
  justify-self: end;
  color: green;
  position: relative;
  top: 330px;
}

.dot {
  justify-self: end;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.header-botton {
  display: flex;
  justify-content: center;
  position: relative;
}

.svg-card {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svginheader {
  color: rgba(225, 19, 131, 1);
  height: 80px;
}

.svg-p {
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
line-height: 19px;
text-align: center;
color: rgba(225, 19, 131, 1);
}

/* Body */

.categorie-container {
  display: flex;
  height: 400px;
  justify-content: space-evenly;
}
.categorie-box {
  display: flex;
  flex-direction: column;
}
.categorie-img {
  height: 230px;
  width: 256px;
}

.categorie-box p {
  position:relative;
  bottom: 70px;
  color: whitesmoke;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  padding: 15px;
  max-width: 1800px;
  height: 700px;
  margin: 0 auto;
}

.titulo {
  position: absolute;
  left: 50px;
  top: -50px;
}

.gallery-wrapper {
  overflow-x: auto;
  height: 700px;
  scroll-behavior: smooth;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  height: 550px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;

}

.img-box {
  height: 220px;
  width: 300px;
}

.product-img {
  border: 20px black;
  height: 200px;
  width: auto;
}

.product-name {
  height: 40px;
  font-family: Roboto;
font-size: 20px;
font-weight: 400;
text-align: center;
}

.price {
  height: 5px;
  font-family: Roboto;
font-size: 30px;
font-weight: 400;
text-align: right;
text-decoration:line-through;
}

.promotional-price {
  height: 5px;
  width: 100%;
  font-family: Roboto;
font-size: 40px;
font-weight: 700;
color: rgba(225, 19, 131, 1);
}

.arrow-left,
.arrow-right {
  position: relative;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 50px;
  line-height: 250px;
  width: 40px;
  color: rgba(225, 19, 131, 1);
  transition: all 600ms ease-in-out;
  background: none;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: none;
}